@model MKTS.Models.Gaamzan.GaamzanEnrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gaamzan Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmnMonth" class="control-label"></label>
                <input asp-for="AdmnMonth" class="form-control" />
                <span asp-validation-for="AdmnMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmnDay" class="control-label"></label>
                <input asp-for="AdmnDay" class="form-control" />
                <span asp-validation-for="AdmnDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmnYear" class="control-label"></label>
                <input asp-for="AdmnYear" class="form-control" />
                <span asp-validation-for="AdmnYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disability" class="control-label"></label>
                <input asp-for="Disability" class="form-control" />
                <span asp-validation-for="Disability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolName" class="control-label"></label>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolLevel" class="control-label"></label>
                <input asp-for="SchoolLevel" class="form-control" />
                <span asp-validation-for="SchoolLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tehsil" class="control-label"></label>
                <input asp-for="Tehsil" class="form-control" />
                <span asp-validation-for="Tehsil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnionCouncil" class="control-label"></label>
                <input asp-for="UnionCouncil" class="form-control" />
                <span asp-validation-for="UnionCouncil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Village" class="control-label"></label>
                <input asp-for="Village" class="form-control" />
                <span asp-validation-for="Village" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherName" class="control-label"></label>
                <input asp-for="TeacherName" class="form-control" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherContact" class="control-label"></label>
                <input asp-for="TeacherContact" class="form-control" />
                <span asp-validation-for="TeacherContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
